.menu-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 4rem 0 4rem 2rem;
  position: relative;
  flex-grow: 1;
}

.menu-items {
  background-color: #111;
}

@media (prefers-color-scheme: light) {
  .menu-items {
    background-color: white;
  }
}
