.clients-index {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.85rem 1.5rem;
  width: 100%;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 10px;
}
