.clients-index {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.85rem 1.5rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 10px 0;
}

.clients-grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-grid-header span {
  display: flex;
  align-items: center;
  gap: 9px;
}

.clients-grid-header select {
  color: black;
  padding: 3px 25px 3px 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: var(--light-color);

  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none;    /* Firefox */
  appearance: none;         /* Padrão */
  background-image: url("../../ui/assets/dropdown-arrow.png");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 15px 15px;
}

.outlined-button {
  border: 2px solid var(--primary-color);
  background-color: unset;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  padding: 11px;
  margin: 10px 0;
}
