.number-input {
  padding: .65rem 1.25rem;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.number-input::placeholder {
  color: #aaa;
}

@media (prefers-color-scheme: light) {
  .number-input {
    background-color: unset;
  }
}

.number-input.light {
  background-color: white;
  color: black;
}

.number-input.small-text {
  font-size: 1rem;
}
