.btn {
  font-size: 1.5rem;  
  font-weight: 700;
  padding: .65rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid var(--primary-color);
}

.btn:hover {
  filter: brightness(0.9);
}

.btn:active {
  filter: brightness(0.8);
}

.link {
  font-size: 1rem;  
  font-weight: 400;
  text-decoration: none;
  text-underline-offset: 4px;
  color: inherit;
}

.link:hover {
  filter: brightness(0.9);
  color: var(--primary-color);
  text-decoration: revert;
}

.link:active {
  filter: brightness(0.8);
  color: var(--primary-color);
  text-decoration: revert;
}
